*.mo
*.pot
.eggs/
*.swp
*.pyc
*.bak
/build
/dist
/gnome_keysign.egg-info
**.flatpak-builder/
.flatpak-builder/
/.coverage
/.noseids
.tox/
cover/
/coverage/
.idea/
*.ui~
/flatpak/fpbuilder
/venv/
# Generated desktop and appdata files (built from .raw.* files)
data/org.gnome.Keysign.desktop
data/org.gnome.Keysign.appdata.xml
