[extractors]
babelglade_desktop = babelglade:extract_desktop
babelglade_glade = babelglade:extract_glade

[babelglade_desktop: **.raw.desktop]
[babelglade_glade: **.raw.appdata.xml]
[python: keysign/**.py]
[babelglade_glade: keysign/**.ui]
