# Debian packages
#monkeysign==1.1
# FIXME: gobject?

# Python packages
requests
qrcode


# Additional Development packages
pytest; extra == "test"
pytest-xdist; extra == "test"
pylint; extra == "test"
pep8; extra == "test"

# Distribution packages
# python2
# python2-gobject
# avahi
# dbus
