[Desktop Entry]
Name=Keysign
Comment=A keysigning helper to enable you to comfortably exchange OpenPGP keys with a friend
Keywords=python;gpg;gnupg;key;openpgp;
Type=Application
Exec=python -m keysign
Icon=gnome-keysign
Categories=GTK;GNOME;Utility;
StartupNotify=true
